USE [master]
GO
/****** Object:  Database [BTVN 04]    Script Date: 15/04/2025 10:24:28 ******/
CREATE DATABASE [BTVN 04]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BTVN 04', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.LUONGHOANGVIET\MSSQL\DATA\BTVN 04.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BTVN 04_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.LUONGHOANGVIET\MSSQL\DATA\BTVN 04_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BTVN 04].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BTVN 04]
GO
/****** Object:  Table [dbo].[GiaoVien]    Script Date: 15/04/2025 10:24:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaoVien](
	[ID_GV] [varchar](50) NOT NULL,
	[TenGV] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__GiaoVien__8B62CF12F5E56170] PRIMARY KEY CLUSTERED 
(
	[ID_GV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lop]    Script Date: 15/04/2025 10:24:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lop](
	[MaLop] [nvarchar](50) NOT NULL,
	[TenLop] [nvarchar](50) NULL,
 CONSTRAINT [PK__Lop__3B98D2736869BC8B] PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 15/04/2025 10:24:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHoc](
	[MaMon] [varchar](10) NOT NULL,
	[TenMon] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__MonHoc__3A5B29A814707AAD] PRIMARY KEY CLUSTERED 
(
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TKB]    Script Date: 15/04/2025 10:24:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TKB](
	[ID_GV] [varchar](50) NULL,
	[MaLop] [nvarchar](50) NULL,
	[MaMon] [varchar](10) NULL,
	[TenPhong] [varchar](50) NULL,
	[Thu] [tinyint] NULL,
	[TietBD] [tinyint] NULL,
	[SoTiet] [tinyint] NULL,
	[GioVao] [time](7) NULL,
	[GioRa] [time](7) NULL,
	[NgayHoc] [date] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TKB]  WITH CHECK ADD  CONSTRAINT [FK__TKB__ID_GV__59FA5E80] FOREIGN KEY([ID_GV])
REFERENCES [dbo].[GiaoVien] ([ID_GV])
GO
ALTER TABLE [dbo].[TKB] CHECK CONSTRAINT [FK__TKB__ID_GV__59FA5E80]
GO
ALTER TABLE [dbo].[TKB]  WITH CHECK ADD  CONSTRAINT [FK__TKB__MaLop__5AEE82B9] FOREIGN KEY([MaLop])
REFERENCES [dbo].[Lop] ([MaLop])
GO
ALTER TABLE [dbo].[TKB] CHECK CONSTRAINT [FK__TKB__MaLop__5AEE82B9]
GO
ALTER TABLE [dbo].[TKB]  WITH CHECK ADD  CONSTRAINT [FK__TKB__MaMon__5BE2A6F2] FOREIGN KEY([MaMon])
REFERENCES [dbo].[MonHoc] ([MaMon])
GO
ALTER TABLE [dbo].[TKB] CHECK CONSTRAINT [FK__TKB__MaMon__5BE2A6F2]
GO
USE [master]
GO
